
body {
	font: 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  width: 100%;
}

h3 {
  font: 900 1em 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

.button-gen {
  /* display: inline-block;
  justify-content: center; */
  padding: 10px 9px;
  background-color: #0069ed;
  color: #ffffff;
  border-radius: 10px;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  letter-spacing: 0;
  text-decoration: none;
  text-transform:capitalize;
}

.container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items:center;
}

@media only screen and (max-width: 414px) {
  /* Styles for iPhone 14 Plus */
  h1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 0.8em;
  }

  .button-gen {
    font-size: 16px;
  }
}
